.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      i()
      | Code Jam - Computer Vision
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    
