extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-upload.fa-sm
      | File Upload


  h3 File Upload Form
  .row
    .col-md-6
      p All files will be uploaded to "/uploads" directory.

  script.
    var mediaConstraints = { video: true };

    navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);

    function onMediaSuccess(stream) {
        var mediaRecorder = new MediaRecorder(stream);
        mediaRecorder.ondataavailable = function(blob) {
            var formData = new FormData();
            formData.append('blob', blob, 'test')
            var request = new XMLHttpRequest();
            request.open("POST", "/api/realtime");
            request.send(formData);
        };
        mediaRecorder.start(1500);
    }

    function onMediaError(e) {
        console.error('media error', e);
    }
      
