extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-video.fa-sm
      | Video

    video(width="720", height="480", controls)
        source(src="http://localhost:8080/videostream",type="video/mp4")
